.body{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}
.header{
    min-height: 10%;
    margin: auto;
}
.header__h1{
    border-bottom: 1px solid grey;
    margin: 35px 10px;
}
.main{
    min-height: 70%;
    margin: auto;
}
.message__block{
    max-width: 250px;
    margin-left: auto;
    margin-right: 5px;
}
.message__text{
    border-radius: 5px 0 5px 5px;
    border: 1px solid grey;
}
.footer{
    min-height: 20%;
    margin: auto;
}
.footer__textarea{
    width: 90%;
}