.header{
    position:absolute;
    top:0;
    border-bottom: 1px solid gray;
}
.footer{
    position:absolute;
    bottom: 0;
    margin: 0;
    padding:0;
}
.main{
    margin: 100px 0 0 0;
}
.footer__textarea{
    width: 85vw;
    height: 10vh;
}
.footer__button{
}